.header{
    position: fixed;
    width: 100%;
    height: 90;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 10;
}

.link{
    color: #fff;
}

.navMenu{
    display: flex;
}

.navMenu li {
    padding: 0 1rem;
}

.navMenu a {
    
    font-weight: 200;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 1240px) {
    .hamburger{
        display: block;
    }

    .navMenu{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
        background: rgba(0, 0, 0, .9);
    }
    .active {
        left: 0%;
    }
    .navMenu li {
        padding: 1rem 0;
    }
    .navMenu link {
        font-size: 2rem;
    }
}

